<%- include('../../partials/header.ejs'); -%> <%-
include('../../partials/navbar.ejs'); -%>
<div class="container">
	<div class="card mt-2">
		<div class="d-flex card-header align-items-center justify-content-between">
			<h2>Artigos</h2>
			<a href="/admin/articles/new"
				><button class="btn btn-success">Criar novo artigo</button></a
			>
		</div>
		<table class="table table-bordered table-hover .table-responsive mb-0">
			<thead>
				<tr>
					<th>Id</th>
					<th>Título</th>
					<th>Slug</th>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <% articles.forEach(article => { %>
                    <td> <%=article.id%> </td>
					<td> <%=article.title%> </td>
					<td> <%=article.slug%> </td>
					<td> <%=article.category.title%> </td>
					<th style="width: 173px">
						<form
							method="POST"
							action="/article/delete"
							class="d-flex justify-content-center"
							onsubmit="confirmDelete(event, this)"
						>
							<input
								type="hidden"
								name="id"
								value="<%= article.id %>"
								class="invisible"
							/>
							<button class="btn btn-danger"><img src="/assets/img/trash.svg" alt="Deletar" width="20" height="20"></button>
						</form>
					</th>
                <% }) %> 
			</tbody>
		</table>
	</div>
</div>
<%- include('../../partials/footer.ejs'); -%>

<script>
	function confirmDelete(event, form) {
		event.preventDefault()
		const decision = confirm("Você deseja realmente deletar esse artigo?")
		if (decision) {
			form.submit()
		}
	}
</script>