<%- include('../../partials/header.ejs'); -%> <%-
include('../../partials/navbar.ejs'); -%>
<div class="container">
	<div class="card mt-2">
		<div class="d-flex card-header align-items-center justify-content-between">
			<h2>Categorias</h2>
			<a href="/admin/categories/new"
				><button class="btn btn-success">Criar nova categoria</button></a
			>
		</div>
		<table class="table table-bordered table-hover .table-responsive mb-0">
			<thead>
				<tr>
					<th>Id</th>
					<th>Título</th>
					<th>Slug</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<% categories.forEach(category=> { %>
				<tr>
					<th> <%= category.id %> </th>
					<th> <%= category.title %> </th>
					<th> <%= category.slug %> </th>
					<th style="width: 173px">
						<form
							method="POST"
							action="/categories/delete"
							class="d-flex justify-content-center"
							onsubmit="confirmDelete(event, this)"
						>
							<input
								type="hidden"
								name="id"
								value="<%= category.id %>"
								class="invisible"
							/>
							<a href="categories/edit/<%= category.id %>" class="btn btn-warning mr-2"
								><img src="/assets/img/pencil-square.svg" alt="Editar" width="20" height="20"></a
							>
							<button class="btn btn-danger"><img src="/assets/img/trash.svg" alt="Deletar" width="20" height="20"></button>
						</form>
					</th>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<%- include('../../partials/footer.ejs'); -%>

<script>
	function confirmDelete(event, form) {
		event.preventDefault()
		const decision = confirm("Você deseja realmente deletar essa categoria:")
		if (decision) {
			form.submit()
		}
	}
</script>
